<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/akshay/static/layout.css">
</head>

<body>
    <div class="space"></div>
    <div class="border">
        <div class="login">
            <div class="header">login</div>
            <div class="innerbox">
                <div class="details">Username</div>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto enter" name="username"
                        placeholder="Enter your username" type="text" required>
                </div>
                <div class="space2"></div>
                <div class="details">Password</div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto enter" name="password" placeholder="Password"
                        type="password" required>
                </div>
            </div>
            <div class="submit">
                <button class="primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
    <div class="space1"></div>
    <div class="or">OR</div>
    <div class="space2"></div>
    <div class="option">
        <div class="dropdown">
            <button class="dropbtn">
                <img src="/akshay/assets/360_F_518093233_bYlgthr8ZLyAUQ3WryFSSSn3ruFJLZHM 1.png" alt="Google Logo">
                <a href="#">Login with Google</a>
            </button>
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <img src="/akshay/assets/github1.png" alt="Github Logo">
                    <a href="#">Continue with Github</a>
                </div>
                <div class="dropdown-item">
                    <img src="/akshay/assets/linkedin.png" alt="LinkedIn Logo">
                    <a href="#">Continue with LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="space4"></div>
    <div class="bottom">
        <span>New User?</span>
        <a href="register.html">Register</a>
    </div>    

</body>

</html>