<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Home</title>
    <link rel="stylesheet" href="/pranav/static/index.css">
</head>

<body>
    <div class="nav">
        <div class="head">HackArena</div>
        <div class="right">
            <div class="searchbar">
                <input class="search" type="text" placeholder="Search For Hackathons">
                <button class="button"><img class="s" src="/pranav/assets/search.svg" alt="" srcset=""></button>
            </div>
            <button class="profile">
                <div class="pro"></div><img src="/pranav/assets/dropdown.svg" alt="">
                <div class="dropdown-content">
                    <li>Name-</li>
                    <li>GitHub Username-</li>
                    <li>LinkedIn Username-</li>
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="#">Log Out</a></li>
                  </div>
            </button>
        </div>
    </div>
    <div class="hack">
        <h2>Ongoing Hackathons</h2>
    </div>

</body>

</html>