<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Files</title>
    <link rel="stylesheet" href="/static/layout.css">
</head>

<body>
    <div class="space">
        <div class="logo">
            <button class="logo-dp" onclick="window.location.href='/clienthome'">HackArena</button>
        </div>
    </div>
    <!-- <form class="choose" action="/hackathon/{{hack._id}}/files" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Enter team Name" name="teamname">
        <input class="files1" type="submit" value="Submit">
    </form> -->
    <h2 class="heading">Uploaded Files</h2>

    <div class="flash-messages">
        <ul>
            {% for file in files %}
                <li>
                    <a href="{{ url_for('serve_file', hack_id=hack._id, teamname=teamname, file_id=file.id) }}" target="_blank">{{ file.filename }}</a>
                </li>
            {% endfor %}
        </ul>
        
    </div>

    <br>
    <a class="heading" href="/clienthome">Go Back Home</a>
    <br>
    <a class="heading" href="/hackathon/{{hack._id}}/upload">Add more files</a>
</body>

</html>
