<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Finder</title>
    <link rel="stylesheet" href="/static/find.css">
</head>

<body>
    <div class="space">
        <div class="logo">
            <button class="logo-dp" onclick="window.location.href='/'">HackArena</button>
        </div>
    </div>
    <div class="line"></div>
    <!-- About You Box -->
    <div class="input-box">
        <h2>About You</h2>
        <form action="/hackathon/{{ hack._id }}/team" method="POST">
            <input type="text" name="name" placeholder="Your Name" required>
            <textarea name="about" placeholder="Write about yourself..." required></textarea>
            <button type="submit" class="sub">Save</button>
        </form>
    </div>
<div class="line"></div>
    <!-- List of Interested People -->
    <div class="profile-list">
        <h2>People Looking for Teams</h2>
        {% for person in people %}
        <div class="profile-box">
            <div class="group"><h3>{{ person.name }}</h3>
            <p>{{ person.about }}</p></div>
            <button class="sub req" onclick="window.location.href='/{{hack._id}}/{{person._id}}/email'">Send Request</button>
        </div>
        {% endfor %}
    </div>

</body>

</html>
