<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Details</title>
    <link rel="stylesheet" href="/static/details.css">
</head>

<body>
    <div class="space">
        <div class="logo">
            <button class="logo-dp" onclick="window.location.href='/'">HackArena</button>
        </div>
    </div>
    <div class="space"></div>
    <div class="border">
        <div class="innerbox"></div>
        <div class="container">
            <div class="details">Event Title:</div>
            <div class="space2"></div>
            <div class="line"></div>
            <div class="space2"></div>
            <div class="details">Mode: </div>
            <div class="space2"></div>
            <div class="line"></div>
            <div class="space2"></div>
            <div class="details">Date: </div>
            <div class="space2"></div>
            <div class="line"></div>
            <div class="space2"></div>
            <div class="details">Duration: </div>
            <div class="space2"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="space"></div>
    <div class="border2">
        <div class="longerbox">
            <button class="innerlongerbox">Register </button>
        </div>
    </div>
    <div class="border3">
        <div class="subgroup">
            <div class="smallerbox"><img src="/static/assets/tick.svg" alt=""></div>
            <div class="group">
                <div class="details">Registered: </div>
            </div>
        </div>
        <div class="subgroup">
            <div class="smallerbox"><img src="/static/assets/user.svg" alt=""></div>
            <div class="group">
                <div class="details">Team-size: </div>
            </div>
        </div>
        <div class="subgroup">
            <div class="smallerbox"><img src="/static/assets/clock.svg" alt=""></div>
            <div class="group">
                <div class="details">Date: </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div class="border4">
        <div class="longerbox2">
            <div class="det">Prize-Pool: </div>
        </div>
    </div>
</body>