<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host-Home</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div class="nav">
        <div class="head">HackArena</div>
        <div class="right">
            <div class="searchbar">
                <input class="search" type="text" placeholder="Search For Hackathons">
                <button class="button"><img class="s" src="/static/assets/search.svg" alt="" srcset=""></button>
            </div>
            <button class="profile">
                <div class="pro"></div><img src="/static/assets/dropdown.svg" alt="">
                <div class="dropdown-content">
                    <li>Name: {{ host.name or 'N/A' }}</li>
                    <li>GitHub Username: {{ host.githubusername or 'Not provided' }}</li>
                    <li>LinkedIn Username: {{ host.linkedinusername or 'Not provided' }}</li>
                    <li>Company Name: {{ host.companyname or 'N/A' }}</li>
                    <li><a href="/host/edit">Edit Profile</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </div>
            </button>
        </div> 
    </div>
    <div class="add">
        <button class="add">
            <img src="/static/assets/add.svg" alt="">New Hackathon
        </button>
    </div>
    <div class="hack">
        <h2>Your Hackathons</h2>
    </div>
</body>

</html>