<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Home</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div class="nav">
        <div class="head">HackArena</div>
        <div class="right">
            <div class="searchbar">
                <input class="search" type="text" placeholder="Search For Hackathons">
                <button class="button"><img class="s" src="/static/assets/search.svg" alt="" srcset=""></button>
            </div>
            <button class="profile">
                <div class="pro"></div><img src="/static/assets/dropdown.svg" alt="">
                <div class="dropdown-content">
                    <li>Name: {{ user.name or 'N/A' }}</li>
                    <li>GitHub Username: {{ user.githubusername or 'Not provided' }}</li>
                    <li>LinkedIn Username: {{ user.linkedinusername or 'Not provided' }}</li>
                    <li><a href="/client/edit">Edit Profile</a></li>
                    <li><a href="/logout">Log Out</a></li>
                  </div>
            </button>
        </div>
    </div>
    <div class="hack">
        <h2>Ongoing Hackathons</h2>
    </div>

</body>

</html>