<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register-Host</title>
    <link rel="stylesheet" href="/static/layout.css">
</head>

<body>
    <div class="space"></div>
    <div class="border">
        <div class="login">
            <div class="header">Register</div>
            <div class="innerbox">
                <div class="details">Username</div>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto enter" name="username"
                        placeholder="Enter your username" type="text" required>
                </div>
                <div class="space2"></div>
                <div class="details">Password</div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto enter" name="password" placeholder="Password"
                        type="password" required>
                </div>
                <div class="space2"></div>
                <div class="details">Confirm Password</div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto enter" name="confirm" placeholder="Confirm Password"
                        type="password" required>
                </div>
                <div class="space2"></div>
                <div class="details">Company Name</div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto enter" name="companme" placeholder="Company Name"
                        type="text" required>
                </div>
            </div>
            <div class="submit">
                <button class="primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
    <div class="space1"></div>
    <div class="or">OR</div>
    <div class="space2"></div>
    <div class="option">
        <div class="dropdown">
            <button class="dropbtn">
                <img src="/static/assets/360_F_518093233_bYlgthr8ZLyAUQ3WryFSSSn3ruFJLZHM 1.png" alt="Google Logo">
                <a href="{{ url_for('google_login') }}">Sign in with Google</a>
            </button>
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <img src="/static/assets/github1.png" alt="Github Logo">
                    <a href="{{ url_for('github_login') }}">Continue with Github</a>
                </div>
                <div class="dropdown-item">
                    <img src="/static/assets/linkedin.png" alt="LinkedIn Logo">
                    <a href="#">Continue with LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="space4"></div>
    <div class="bottom">
        <span>Already have an Account?</span>
        <a href="/loghost">Login</a>
    </div>    
</body>

</html>