<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Registration Form</title>
    <link rel="stylesheet" href="/static/reg.css">
</head>

<body>
    <div class="space">
        <div class="logo">
            <button class="logo-dp" onclick="window.location.href='/'">HackArena</button>
        </div>
    </div>
    <div class="space1"></div>
    <div class="box">
        <div class="container">
            <form action="/hackathon/{{ hack._id }}/reg" method="post">
                <label for="team-name">Team Name:</label>
                <input type="text" class="team-name" name="team_name" required>
                <br>

                <!-- Dynamically generate member inputs based on hack.team-size -->
                {% for i in range(1, hack['team-size']|int + 1) %}
                <div class="member">
                    <h3>Member {{ i }}</h3>
                    <label>Name:</label>
                    <input type="text" name="member_name_{{ i }}" {% if i == 1 %}required{% endif %}>
                    <label>Mail-ID:</label>
                    <input type="email" name="member_email_{{ i }}" {% if i == 1 %}required{% endif %}>
                </div>
                {% endfor %}

                <div class="button-container">
                    <button type="submit" class="submit-btn">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
