<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Registration Form</title>
    <link rel="stylesheet" href="/static/reg.css">
</head>

<body>
    <div class="space">
        <div class="logo">
            <button class="logo-dp" onclick="window.location.href='/'">HackArena</button>
        </div>
    </div>
    <div class="space1"></div>
    <div class="box">
        <div class="container">
            <form action="/hackathon/{{ hack.id }}/reg" method="post">
                <label for="team-name">Team Name:</label>
                <input type="text" class="team-name" name="team_name" required>
                <br>
                <label for="team-size">Team Size:</label>
                <input type="number" class="team-size" name="team_size" min="1" max="4" required>

                <div class="member">
                    <h3>Member 1</h3>
                    <label>Name:</label>
                    <input type="text" name="member1_name" required>
                    <label>Mail-ID:</label>
                    <input type="email" name="member1_email" required>
                </div>

                <div class="member">
                    <h3>Member 2</h3>
                    <label>Name:</label>
                    <input type="text" name="member2_name">
                    <label>Mail-ID:</label>
                    <input type="email" name="member2_email">
                </div>

                <div class="member">
                    <h3>Member 3</h3>
                    <label>Name:</label>
                    <input type="text" name="member3_name">
                    <label>Mail-ID:</label>
                    <input type="email" name="member3_email">
                </div>

                <div class="member">
                    <h3>Member 4</h3>
                    <label>Name:</label>
                    <input type="text" name="member4_name">
                    <label>Mail-ID:</label>
                    <input type="email" name="member4_email">
                </div>
                <div class="button-container">
                    <button type="submit" class="submit-btn">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>